<div class="flex flex-col items-center justify-center h-screen w-screen bg-gray-100">
  <div class="flex flex-col justify-center">
    <img src="https://png.pngtree.com/png-clipart/20231016/original/pngtree-food-fast-food-cartoon-png-image_13322666.png" alt="Image description" width="500px" height="300px">

    <div class="flex flex-row justify-between mt-10 w-full">
      <button class="flex items-center justify-center bg-blue-500 text-white font-bold text-4xl py-4 px-8 rounded-md hover:bg-blue-600 mr-4"> Para llevar
        <span class="ml-10">
          <i class="fas fa-table text-white text-2xl"></i>
        </span>
      </button>

      <button class="flex items-center justify-center bg-green-500 text-white font-bold text-4xl py-4 px-8 rounded-md hover:bg-green-600">
        Para servir
        <span class="ml-10">
          <i class="fas fa-shopping-bag text-white text-2xl"></i>
        </span>
      </button>
    </div>
  </div>
</div>
